<app-header></app-header>
<section class="section-header" style="padding-top: 80px;background-color: #f6f7fd" data-aos="flip-left">
    <div class="container ">
        <div>
            <h2>Privacy Policy</h2>
            <hr class="horizon" style="height:3px;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="p-5" style="padding-top:30px; text-align:left">
                <p><strong>Last Updated: 01/07/2019</strong></p>
                <p *ngFor="let First of FirstPolicy">{{ First }}</p>
                <br>
                <p><strong>Information Collection And Use</strong></p>
                <p *ngFor="let Second of SecondPolicy">{{ Second }}</p>
                <br>
                <p><strong>Communications</strong></p>
                <p *ngFor="let Thrid of ThridPolicy">{{ Thrid }}</p>
                <br>
                <p><strong>Security</strong></p>
                <p *ngFor="let Security of SecPolicy">{{ Security }}</p>
                <br>
                <p><strong>Changes To This Privacy Policy</strong></p>
                <p *ngFor="let Change of ChangePolicy">{{ Change }}</p>
                <br>
                <p><strong>Contact Us</strong></p>
                <p *ngFor="let ContactUs of ContactPolicy">{{ ContactUs }}</p>
            </div>
            <!-- </div> -->

        </div>
    </div>
</section>
<app-footer></app-footer>