<app-header></app-header>
<section class="section-header" style="padding-top: 80px;background-color: #f6f7fd" data-aos="flip-left">
    <div class="container ">
        <div>
            <h2>Brief History About the Association</h2>

            <hr class="horizon" style="height:3px;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="p-5" style="padding-top:5px; text-align:left">
                <p>Ladies,</p>
                <p *ngFor="let Histories of History">{{ Histories }}</p>
                <p>They were requested to send their telephone numbers and the WhatsApp group became enlarged.Many Old girls began to send in the contacts of others and so it went on, until words spread to a lot of SLO old girls, from the very first set
                    of SLO graduates (1968/69) to the very recent ones....<a style="color:#f82249" href="https://drive.google.com/open?id=1d_G4jeiB5kURqGB9F8HiS0rLTzUlOVCB" target="_blank">Read more.</a></p>
                <br>
                <p style="color:#f82249">View The Report of <i><a style="color:#f82249" href='https://drive.google.com/open?id=1r9iSuFla0YpQkKlPyBaysGRohEaBfxOL' target="_blank">HANDING OVER AND COMMISSIONING OF A BLOCK OF CLASSROOMS BY THE NATIONAL PRESIDENT ST LOUIS OWO ALUMNI ASSOCIATION (MRS OYEYEMI JIMI-SALAMI Nee FADAKA) ON 30TH NOVEMBER, 2018.</a></i></p>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>
