<!-- <-----Footer ============================-->
<footer id="footer" class="wow fadeIn">
    <div class="footer-top">
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-info">
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                    <h4>St. Louis Grammar school Owo Alumni.</h4>
                    <p>You are welcome to St. Louis Grammar School Owo Alumni website. This page provides information about the old girls of the school and their activities in the school.The Old girls Association was established in 1993, but gathered greater
                        momentum at the establishment of its WhatsApp group in 2016. The membership has risen and the level of enthusiasm has risen.</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>SiteMap</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a routerLink="/">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#about">About Us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#community">Our Community</a></li>
                        <li><i class="fa fa-angle-right"></i> <a routerLink="/Terms">Terms and Condition</a></li>
                        <li><i class="fa fa-angle-right"></i> <a routerLink="/Policy">Privacy Policy</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="https://drive.google.com/open?id=1vTxJrvXMPUHwhLGAMiffUm4Q8RVUwCJu" target="_blank">St Louis Owo Alumni Constitution</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        <strong>Address:</strong> St. Louis Grammar school <br> Oke-Ogun Street, PMB 25, Owo,<br> Ondo State, Nigeria. <br>
                        <strong>Phone:</strong> +234 813 002 1402<br>
                        <strong>Email:</strong> stlouisowoalumni@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="https://www.facebook.com/groups/124249414309310/?ref=share" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="mailto:stlouisowoalumni@gmail.com>" target="_blank"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.youtube.com/channel/UC0mXMiB99wKDg2ZcwXBxBYQ" target="_blank"><i class="fa fa-youtube-play"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>St. Louis Grammar school Owo Alumni</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <h6> Designed by <a href="https://www.linkedin.com/in/fisayoadesomoju/" style="color:#f82249" target="_blank">Fisayo Adesomoju</a></h6>
        </div>
    </div>
</footer>
<!-- #footer -->
