<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="#About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="portfolio" href="#">Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="team" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="team" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="contact" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="contact" href="#">Sponsors</a>
            </li>
        </ul>

        <div class="navbar-expand ml-auto navbar-nav">
            <div class="navbar-nav" id="navItem">
                <a class="nav-item nav-link signIn" href="#">Sign In</a>
                <a class="nav-item nav-link" href="" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-item nav-link" href="" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="nav-item nav-link" href="" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</nav>