<nav class="navbar navbar-expand-lg fixed-top" style="scroll-behavior: smooth">
    <!-- <a class="navbar-brand" routerLink="/" style="font-family: sans-serif">S.L.O Alumni</a> -->
    <img src="/assets/logo.png" style="width: 66px;height: 50px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="home" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="community" href="#community">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="event" href="#project">Projects</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-value="directories" routerLink="/directories">Directories</a>
            </li>
        </ul>

        <div class="navbar-expand ml-auto navbar-nav">
            <div class="navbar-nav" id="navItem">
                <!-- <a class="nav-item nav-link signIn" routerLink="/login">Sign In</a> -->
                <a class="nav-item nav-link" href="https://www.facebook.com/groups/124249414309310/?ref=share" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-item nav-link" href="mailto:stlouisowoalumni@gmail.com>" target="_blank">
                    <i class="fa fa-envelope"></i>
                </a>
                <a class="nav-item nav-link" href="https://www.youtube.com/channel/UC0mXMiB99wKDg2ZcwXBxBYQ" target="_blank">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </div>
        </div>
    </div>
</nav>