<!-- Default form contact -->
<div class="col-md-4" style="margin: 0 auto; padding-top: 150px;">
    <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Register</p>

        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="First Name">

        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Last Name">

        <!-- set -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Set e.g '1995'">



        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Send</button>

    </form>
</div>
<!-- Default form contact -->
