<app-layout>
    <!-- Home section -->
    <header style="background: linear-gradient(rgba(20,20,20, .5),rgba(14, 14, 14, 0.5),rgba(20,20,20, .5)),url('/assets/intro-bg.jpg');background-attachment: fixed;background-size: cover;position: absolute;min-height: 100%;min-width: 100%;">
        <div class="overlay"></div>
        <div class="container wow fadeIn" id="head">
            <h1 class="mb-4 pb-0">The <br><span>Name of The Alumni </span> Body </h1>
            <p class="mb-4 pb-0">Other Important Detail that needs to be added to the cover page</p>
            <p> <a href="#about" class="btn btn-outline-secondary">Read More</a></p>
        </div>
    </header>

    <!-- About section -->
    <section class="section-header">
        <div id="About" class="container">
            <div>
                <h2>About Us</h2>
                <p>Our Vision and Mission Statement</p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-thumbnail" src="/assets/black-background-bulb-close-up-52910.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h3 class="display-4">Vision Statement</h3>
                        <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
            </div>
            <hr class="horizon">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <h3 class="display-4">Mission Statement</h3>
                        <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-thumbnail" src="/assets/achievement-adult-african-1035598.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Gallery -->

    <section class="section-header" style="background-color: #f6f7fd;padding-top: 20px;">
        <div class="container ">
            <div>
                <h2>Gallery</h2>
                <p>View some of our Latest picture</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-fluid venue-gallery-container" id="venue">
                <div class="row no-gutters">

                    <div class="col-lg-4 col-md-4">
                        <div class="venue-gallery">
                            <a href="img/venue-gallery/1.jpg" data-gall="venue-gallery">
                                <img src="/assets/black-background-bulb-close-up-52910.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="venue-gallery">
                            <a href="img/venue-gallery/2.jpg" data-gall="venue-gallery">
                                <img src="/assets/achievement-adult-african-1035598.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="venue-gallery">
                            <a href="img/venue-gallery/3.jpg" data-gall="venue-gallery">
                                <img src="/assets/intro-bg.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="venue-gallery">
                            <a href="img/venue-gallery/1.jpg" data-gall="venue-gallery">
                                <img src="/assets/intro-bg.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="venue-gallery">
                            <a href="img/venue-gallery/2.jpg" data-gall="venue-gallery">
                                <img src="/assets/black-background-bulb-close-up-52910.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="venue-gallery">
                            <a href="img/venue-gallery/3.jpg" data-gall="venue-gallery">
                                <img src="/assets/achievement-adult-african-1035598.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- last section -->
    <section class="section-header" style="background-color: #f6f7fd;padding-top: 20px;">
        <div class="container ">
            <div>
                <h2>Alumni Excos</h2>
                <p>View some of our Latest picture</p>
            </div>
        </div>
    </section>
</app-layout>