<!-- Set and Classes -->
<app-header></app-header>
<section id="speakers" class="wow fadeInUp" style="background-color: white;padding-top: 80px">
    <div class="container">
        <div class="section-header">
            <h2>Class of '96</h2>
            <p>St. Loius, set 1995/1996</p>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="speaker">
                    <img src="/assets/achievement-adult-african-1035598.jpg" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Brenden Legros</a></h3>
                        <p>Quas alias incidunt</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="speaker">
                    <img src="/assets/black-background-bulb-close-up-52910.jpg" alt="Speaker 2" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
                        <p>Consequuntur odio aut</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="speaker">
                    <img src="/assets/intro-bg.jpg" alt="Speaker 3" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Cole Emmerich</a></h3>
                        <p>Fugiat laborum et</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="speaker">
                    <img src="/assets/black-background-bulb-close-up-52910.jpg" alt="Speaker 4" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
                        <p>Debitis iure vero</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="speaker">
                    <img src="/assets/achievement-adult-african-1035598.jpg" alt="Speaker 5" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
                        <p>Qui molestiae natus</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="speaker">
                    <img src="/assets/intro-bg.jpg" alt="Speaker 6" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Willow Trantow</a></h3>
                        <p>Non autem dicta</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>
