<!-- Home section -->
<section style="background: linear-gradient(rgba(10, 1, 36, 0.5),rgba(8, 1, 46, 0.5),rgba(7, 1, 42, 0.5)),url('/assets/casual-friends-friendship-599913.jpg');background-attachment: fixed;background-size: cover;position: absolute;min-height: 100%;min-width: 100%;z-index: 1;">
    <div class="container" id="head">
        <h1 class="mb-4 pb-0">The Great <br><span>St. Louis </span><br>Alumni page</h1>
        <p class="mb-4 pb-0">Other Important Detail that needs to be added to the cover page</p>
        <p> <a href="#about" class="btn btn-outline-secondary">Read More</a></p>
    </div>
</section>
<br>
<!-- About section -->

<section class="section-header" style="padding-top: 860px;">
    <div id="about"></div>
    <div class="container">
        <div>

            <h2>About Us</h2>
            <p>Our Vision and Mission Statement</p>
            <hr class="horizon" style="height:3px;">
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid" src="/assets/black-background-bulb-close-up-52910.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h3 class="display-4">Vision Statement</h3>
                    <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <h3 class="display-4">Mission Statement</h3>
                    <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid" src="/assets/achievement-adult-african-1035598.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery -->
<section id="community" class="section-header" style="padding-top: 50px;background-color: #f6f7fd" data-aos="flip-left">
    <div class="container ">
        <div>
            <h2>Our Community</h2>
            <p>Read more and have a view about our Community</p>
            <hr class="horizon" style="height:3px;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="p-5">
                    <img src="/assets/6.jpg" alt="Speaker 1" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-5" class="animate fadeIn" style="padding-top:30px;">
                    <h3>Brenden Legros</h3>
                    <h6>Alumni President</h6>
                    <p style="text-align:left;">Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.</p>

                    <p style="text-align:left;">Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.</p>

                    <p style="text-align:left;">Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis
                        autem aperiam voluptates unde sunt et facilis.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Executives -->

<section id="speakers" class="wow fadeInUp" style="background-color: white;padding-top: 50px;">
    <div class="container">
        <div class="section-header">
            <h2>Alumni Executives</h2>
            <p>Our current Alumni</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/assets/achievement-adult-african-1035598.jpg" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Brenden Legros</a></h3>
                        <p>Quas alias incidunt</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/assets/black-background-bulb-close-up-52910.jpg" alt="Speaker 2" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
                        <p>Consequuntur odio aut</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/assets/intro-bg.jpg" alt="Speaker 3" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Cole Emmerich</a></h3>
                        <p>Fugiat laborum et</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/assets/black-background-bulb-close-up-52910.jpg" alt="Speaker 4" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
                        <p>Debitis iure vero</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/assets/achievement-adult-african-1035598.jpg" alt="Speaker 5" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
                        <p>Qui molestiae natus</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/assets/intro-bg.jpg" alt="Speaker 6" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Willow Trantow</a></h3>
                        <p>Non autem dicta</p>
                        <div class="social">
                            <p>Fugiat laborum et</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- last section -->