<!-- Home section -->
<section style="background: linear-gradient(rgba(10, 1, 36, 0.5),rgba(8, 1, 46, 0.5),rgba(7, 1, 42, 0.5)),url('/assets/casual-friends-friendship-599913.jpg');background-attachment: fixed;background-size: cover;position: absolute;min-height: 100%;min-width: 100%;z-index: 1;">
    <div class="container" id="head">
        <h1 class="mb-4 pb-0" data-aos="zoom-in-right" data-aos-delay="950">The <br><span>St. Louis </span><br> Grammar School Owo <br>Alumni page</h1>
        <p class="mb-4 pb-0" data-aos="zoom-in-left" data-aos-delay="700">You're welcome to St. Louis Grammar school Owo Official Alumni website.</p>
        <p> <a href="#about" class="btn btn-outline-secondary">Read More</a></p>
    </div>
</section>
<br>
<!-- About section -->

<section class="section-header" style="padding-top: 860px;">
    <div id="about"></div>
    <div class="container">
        <div>

            <h2>About Us</h2>
            <p>Our Vision and Mission Statement</p>
            <hr class="horizon" style="height:3px;">
        </div>
        <div class="row align-items-center" data-aos="fade-up-left">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid" src="/assets/black-background-bulb-close-up-52910.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h3 class="display-4">Vision Statement</h3>
                    <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center" data-aos="fade-up-right">
            <div class="col-lg-6">
                <div class="p-5">
                    <h3 class="display-4">Mission Statement</h3>
                    <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid" src="/assets/achievement-adult-african-1035598.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery -->
<section id="community" class="section-header" style="padding-top: 50px;background-color: #f6f7fd" data-aos="zoom-out-up" data-aos-delay="200">
    <div class="container ">
        <div>
            <h2>Our Community</h2>
            <p>Read more and have a view about our Community</p>
            <hr class="horizon" style="height:3px;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="p-5">
                    <img src="/assets/6.jpg" alt="Speaker 1" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-5" class="animate fadeIn" style="padding-top:30px;">
                    <h3>Oluyemi Jimi-Salami (Fadaka)</h3>
                    <h6>Alumni President</h6>
                    <p style="text-align:left;" *ngFor="let Speech of Speechs">{{ Speech }}</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Executives -->

<section id="speakers" class="wow fadeInUp" style="background-color: white;padding-top: 50px;" data-aos="fade-right" data-aos-delay="200">
    <div class="container">
        <div class="section-header">
            <h2>Alumni Executives</h2>
            <p>Our current Alumni</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let Exco of Excos">
                <div class="speaker">
                    <img src="{{Exco.image}}" alt="{{Exco.name}}" class="img-fluid">
                    <div class="details">
                        <h3><a href="">{{Exco.name}}</a></h3>
                        <p>{{Exco.postion}}</p>
                        <div class="social">
                            <p>{{Exco.set}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- last section -->