.horizon {
    background-color: #f82249;
    width: 120px;
}

#head h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 200px;
    text-align: center;
}

#head h1 span {
    color: #f82249;
}

#head p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

#head a {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px, 32px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
}

#head a:hover {
    background: #f82249;
    color: #fff;
}


/* about us section */


/* .section-header {
margin-bottom: 40px;
 position: relative;
padding-bottom: 20px;
} */

.section-header h2 {
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0e1b4d;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #53555d;
}


/* Executive */

#speakers {
    padding: 60px 0 30px 0;
}

#speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#speakers .speaker .details h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

#speakers .speaker .details p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;
    font-style: italic;
}

#speakers .speaker .details .social {
    height: 30px;
}

#speakers .speaker .details a {
    color: #fff;
}

#speakers .speaker .details a:hover {
    color: #f82249;
}

#speakers .speaker:hover .details {
    bottom: 0;
}

#speakers-details {
    padding: 60px 0;
}

#speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

#speakers-details .details .social {
    margin-bottom: 15px;
}

#speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
}

#speakers-details .details .social a:hover {
    background: #f82249;
    color: #fff;
}

#speakers-details .details .social a i {
    font-size: 18px;
}

#speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
}
