<app-header></app-header>
<section class="section-header" style="padding-top: 80px;background-color: #f6f7fd" data-aos="flip-left">
    <div class="container ">
        <div>
            <h2>Terms and Conditions</h2>
            <hr class="horizon" style="height:3px;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="p-5" style="padding-top:30px; text-align:left">
                <p *ngFor="let First of FirstTerm">{{ First }}</p>
                <p><strong>Conditions of Use</strong></p>
                <p *ngFor="let Condition of ConditionPolicy">{{ Condition }}</p>
                <br>
                <p><strong>Privacy Policy</strong></p>
                <p *ngFor="let Privacy of PrivacyPolicy">{{ Privacy }}</p>
                <br>
                <p><strong>Copyright</strong></p>
                <p *ngFor="let CopyRight of CopyRightPolicy">{{ CopyRight }}</p>
                <br>
                <p><strong>Communications</strong></p>
                <p *ngFor="let Comm of CommPolicy">{{ Comm }}</p>
                <br>
                <p><strong>Applicable Law</strong></p>
                <p *ngFor="let Law of LawPolicy">{{ Law }}</p>
                <br>
                <p><strong>Disputes</strong></p>
                <p *ngFor="let Disputes of DisputesPolicy">{{ Disputes }}</p>
                <br>
                <p><strong>License and Site Access</strong></p>
                <p *ngFor="let License of LicensePolicy">{{ License }}</p>
                <br>
                <p><strong>User Account</strong></p>
                <p *ngFor="let User of UserPolicy">{{ User }}</p>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>